body {
    margin: 0;
    padding: 0;
}
.main {
    font-family: "Roboto", sans-serif;
    display: block;
}

.main_layout-title {
    margin: 0;
    padding: 15px 60px 15px 45px;
    background-color: #e8c734;
    display: inline-block;
    font-weight: bold;
    font-size: 42px;
}

.main_layout-list  {
    padding: 0;
}

.main_layout-list-item {
    margin-top: 40px;
}

.main_layout-list-item-title {
    font-size: 31px;
    font-weight: normal;
}

.main_layout-list-item-progress {
    margin-top: 20px;
    position: relative;
    display: inline-block;
    width: 620px;
    height: 25px;
    border: solid 1px #bfc0c1;
}

.main_layout-list-item-progress:after {
    content: '';
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    background: #bfc0c1;
}

.seventy:after {
    width: 70%;
}

.ninety:after {
    width: 90%;
}