<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base#2</title>
    <link rel="stylesheet" href="../styles/main.css">
    <!--<link href="https://fonts.googleapis.com/css?family=Hind:bold" rel="stylesheet">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">-->
</head>
<body>

<div class="post">
    <div class="post_header">
        <img class="post_image" src="../images/image.png">
        <img class="post_icon" src="../images/icon.png">
    </div>
    <div class="post_main">
        <div class="post_main_info">
            <h2 class="post_main_info-tag">adventures</h2>
            <!--<h2 class="post_main_info-tag"><a class="post_main_info-tag_link" href="">adventures</a></h2>-->
            <h1 class="post_main_info-title">awesome gallery post</h1>
            <h2 class="post_main_info-date">january 19, 2016</h2>
        </div>
        <div class="post_main_button">
            <div ><a class="post_main_button-readMore" href="">READ MORE</a></div>
        </div>
    </div>
    <div class="post_footer">
        <h2 class="post_footer_info"><a class="post_footer_info-comments" href="">02 comment</a></h2>
    </div>
</div>

</body>
</html>