<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workshop#2</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="main_layout">
            <div class="main_layout-title">Skills</div>
            <ul class="main_layout-list">
                <li class="main_layout-list-item">
                    <div class="main_layout-list-item-title">Communication</div>
                    <div class="main_layout-list-item-progress seventy"></div>
                </li>
                <li class="main_layout-list-item">
                    <div class="main_layout-list-item-title">Creativity</div>
                    <div class="main_layout-list-item-progress ninety"></div>
                </li>
                <li class="main_layout-list-item">
                    <div class="main_layout-list-item-title">Teamwork</div>
                    <div class="main_layout-list-item-progress seventy"></div>
                </li>
                <li class="main_layout-list-item">
                    <div class="main_layout-list-item-title">Leadership</div>
                    <div class="main_layout-list-item-progress ninety"></div>
                </li>
                <li class="main_layout-list-item">
                    <div class="main_layout-list-item-title">Teamplayer</div>
                    <div class="main_layout-list-item-progress seventy"></div>
                </li>
            </ul> 
        </div>
    </div>

</body>
</html>